services:
  app:
    image: python:3.12
    container_name: flask-app
    restart: always
    volumes:
      - type: bind
        source: ./app/
        target: /usr/src/app/
    build:
      context: ./app/
    ports:
      - 5000:5000
    env_file:
      - .env
    networks:
      - app

  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: always
    env_file:
      - .env
    ports:
      - 27017:27017
    networks:
      - app

networks:
  app:
    external: false
