.content {
    padding: 0em 1em 1em 1em;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
}

.error-message {
    background-color: #eecccc;
    padding: 0.25em;
    margin-bottom: 1em;
    text-align: center;
}

.login-logout {
    height: 100vh;
    margin: auto;
    margin-top: 0px;
}

.login-logout form,
.login-logout div,
.login-logout label {
    padding-bottom: 0.5em;
}

.login-logout a {
    text-decoration: none;
}

.login-logout input {
    display: block;
    border: 1px solid #555;
    font-size: 1em;
}