{% extends 'base.html' %}

{% block content %}
{% if message %}
<div class="error-message">{{ message }}</div>
{% endif %}

<h2>Login</h2>

<form class="login-logout" form method="POST" action="login">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" value="">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value="">
    </div>

    <div>
        No account? <a href="{{url_for('register')}}"> Register!</a>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>


{% endblock %}