{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-5 col-lg-4">
        <div class="card login-card p-4">
            <div class="card-body">
                <h2 class="text-center mb-4 text-primary">Register</h2>

                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="netid@nyu.edu" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password"
                            required>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="toc-check" required>
                        <label class="form-check-label" for="exampleCheck1">I read the terms and conditions.</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>

                <hr class="my-4">

                <div class="text-center">
                    <p class="mb-0">Already have an account? <a href="{{ url_for('login') }}"
                            class="text-decoration-none">
                            Login </a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}